<dialog class="dialog" id="changePasswordDialog">
  <div class="dialog_title">Change your password</div>
  <div class="dialog_body">Enter your existing password and a new password.
    <div class="dialog_error"></div>
    <form class="dialog_form">
      <label>Current password:
        <input type="password" name="existingPassword" class="dialog-input" autofocus />
      </label>

      <label>New password:
        <input type="password" name="newPassword" class="dialog-input" />
      </label>

      <label>Retype new password:
        <input type="password" name="newPassword2" class="dialog-input" />
      </label>

      <button class="dialog-button" dialog-action="submit">Submit</button>
      <button type="button" class="dialog-button-second" dialog-action="cancel">Cancel</button>
    </form>
  </div>
</dialog>
<script>
  const PASSWORD_VALID_RE = /^(?=.*[0-9])(?=.*[!@#$%^&*()\-_=+\[{\]}\\|;:'",<.>\/\?`~])[a-zA-Z0-9!@#$%^&*()\-_=+\[{\]}\\|;:'",<.>\/\?`~]{8,64}$/;
  async function validatePasswords(info) {
    const errorEl = dialogEl.querySelector('.dialog_error');
    const { existingPassword, newPassword, newPassword2 } = info.data;
    if (newPassword !== newPassword2) {
      errorEl.innerHTML = '"New Password" and "Retype new password" are not the same.';
      return true; // Leave the dialog open
    }

    if (existingPassword.length < 1 && !newPassword.match(PASSWORD_VALID_RE)) {
      return true; // Leave the dialog open
      return true; // Leave the dialog open
    }

    const options = {
      body: JSON.stringify({ newPassword, existingPassword }),
      cache: 'no-cache',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json; charset=utf-8'
      },
      method: 'PUT'
    }

    const resp = await fetch('/api/account/password', options);
    if (resp.status < 300) {
      return false;
    }
    
    errorEl.innerHTML = '"New Password" and "Retype new password" are not the same.';
    return true; // Leave the dialog open
  }

  addActionHandler('changePassword', async () => {
    const dlgResp = await openDialog('changePasswordDialog', {preSubmit: validatePasswords});
  });
</script>
