<dialog class="dialog" id="loginDialog">
  <div class="dialog_title">Log in</div>
  <div class="dialog_body">Enter your username and password to log in.
    <form class="dialog_form">
      <label>Username:
        <input type="text" name="username" class="dialog-input" autofocus />
      </label>

      <label>Password:
        <input type="text" name="password" class="dialog-input" />
      </label>

      <button type="button" class="dialog-button" dialog-action="submit">Submit</button>
      <button type="button" class="dialog-button-second" dialog-action="cancel">Cancel</button>
    </form>
  </div>
</dialog>
<script>
  addActionHandler('login', async (evt) => {
    const loginResp = await openDialog('loginDialog');
    const options = {
      body: JSON.stringify(loginResp.data),
      cache: 'no-cache',
      headers: {
        'Content-Type': 'application/json; charset=utf-8'
      },
      method: 'POST'
    }
    const resp = await fetch('/api/account/login', options);
    let json;
    try {
      json = await resp.json();
      console.info(JSON.stringify(json, 0, 2));
      if (resp.status < 300) {
        if (json.locked) {
          alert('User is locked. Need admin to unlock account.')
        }
        else if (json.passwordExpired) {
          alert('User passwword has expired. Need to change your password.')
        }
        else {
          // TODO: Redirect to page defined in QS
          window.location.reload();
        }
      }
    }
    catch(ex) {
      console.error(ex);
      console.error(await resp.text());
    }
  });

  addActionHandler('logout', async (evt) => {
    const options = {
      cache: 'no-cache',
      method: 'DELETE'
    }
    const resp = await fetch('/api/account/session', options);
    console.info(resp);
    if (resp.status < 300) {
      window.location.reload();
    }
    else {
      json = await resp.json();
      // TODO: Should we just kill the session cookie here?
      console.error(`Error loggin out.`);
      console.info(JSON.stringify(json, 0, 2));
    }
  });
</script>
