<%
page = {
  bodyAttrs: {},
  title: 'Form - Omega Test App',
  description: 'Omega Test App form '
};
assets = {
  head: {
    js: [],
    css: []
  },
  js: [],
  css: []
};
var year = (new Date()).getFullYear();
%>
<div>
  <style>
    .top-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .menu-item {
      border: 1px solid #334;
      display: inline;
    }

    .menu-item a {
      display: inline-block;
      padding: 5px 10px;
      width: 100px;
    }

  </style>
  <header>
    <ul class="top-menu">
      <li class="menu-item"><a href="/">Home</a></li>
      <li class="menu-item"><a href="/form">Form Test</a></li>
    </ul>
  </header>
  <div>
    <h1>Omega test app</h1>
    <p>This is a simple demonstration page for Omega</p>
  </div>
</div>
