<%
page = {
  bodyAttrs: {},
  title: 'Omega Test App',
  description: 'Omega Test App'
};
assets = {
  head: {
    js: [
      '/js/omega-actions.js',
      '/js/omega-dialog.js'
    ],
    css: ['/css/example.css']
  },
  js: [],
  css: ['/css/omega-dialog.css']
};
%>
<% include header.ejs %>
<div>
  <h1>Omega test app</h1>
  <p>This is a simple demonstration page for Omega</p>
  <input type="text" autofocus />
</div>
<% include footer.ejs %>
