.dialog[open] {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #0007;
  left: 50%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

.dialog[open]::backdrop {}

.dialog_title {
  background: #DDD;
  border-radius: 10px 10px 0 0;
  font: bold 16pt Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  border-bottom: 1px solid #888;
  padding: 2px 8px;
}

.dialog_body {
  padding: 10px;
}

.dialog_form {
  margin: 10px 0 0;
  width: 100%;
}

.dialog_form label {
  display: block;
  margin: 4px 0;
}

.dialog-input {
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font: 14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin: 3px 0;
  padding: 8px 10px;
  width: 100%;
}

[class*="dialog-button"] {
  background-color: darkviolet;
  border: 1px solid #334;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font: bold 14px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin: 3px 0;
  padding: 8px 10px;
}

[class*="dialog-button"]:hover, [class*="dialog-button"]:focus {
  box-shadow: 0 0 3px 1px #0008;
  border-color: #334;
  cursor: pointer;
  outline: none;
}

[class*="dialog-button"]:hover {
  cursor: pointer;
}

.dialog-button-second {
  background-color: transparent;
  border-color: transparent;
  color: #000;
}