.top-menu {
  display: flex;
  font: 14px Tahoma;
  justify-content: space-between;
  width: 100%;
}

.menu-list {
  display: flex;
  flex: 2 1 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-extra, .menu-list:after, .menu-list:before {
  border: 1px solid transparent;
  border-bottom-color: #334;
  content: '';
  width: 20px;
}

.menu-list:after {
  width: 100%;
}

.menu-extra {
  width: auto;
}

.menu-item {
  background-color: #BBB9;
  border: 1px solid #334;
  display: inline;
  margin-left: -1px;
}

.menu-item.selected {
  background-color: #FFF;
  border-bottom-color: #FFF;
}

.menu-item:hover {
  background-color: #DDF9;
}

.menu-item a {
  color: #000;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.login-item {
  align-content: center;
  background-color: #FFF;
  border: none;
  box-sizing: border-box;
  color: #000;
  display: inline-flex;
  font: 14px Tahoma;
  height: 29px;
  justify-content: center;
  line-height: 1em;
  margin: 0 0 0 20px;
  padding: 4px 12px 0;
  text-decoration: none;
}

.login-item:hover {
  background-color: #DDF9;
}