<%
page = {
  bodyAttrs: {},
  title: 'Omega System Home Page',
  description: 'Omega System Home Page',
  favicon: '/brand/img/favicon.ico'
};
assets = {
  head: {
    js: [],
    css: []
  },
  js: [],
  css: []
};
%>
<h1>Omega System Home Page</h1>
<ul>
  <li><a href="/system/node/npm">NPM Package Information</a></li>
  <li><a href="/system/node/status">Node Runtime Statistics</a></li>
</ul>
